input.ng-invalid.ng-touched{
    border: 1px solid red;
  }

.has-error{
    color: red;
}

.container{
    margin-top: 50px;
    width: 40%;
    background: white;
    border-radius: 20px;
    padding: 50px;

}