.container form{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.container form .input input{
    border: 1px solid gray;
    border-radius: 25px;
    padding-left: 10px;
}

.container form .box-select label{
    margin-right: 10px;
}

.container form .box-select select{
    border: 1px solid gray;
    border-radius: 25px;
    width: 100px;
}

.container form button{
    border: 1px solid gray;
    background-color: white;
    border-radius: 25px;
    width: 100px;
}

.container form button:hover{
    background-color: rgb(223, 223, 223);
    transition: 0.2s;
}

.container form button:active{
    background-color: rgb(194, 194, 194);
}


.film-container{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 50px;
}

.film-container .film-card{
    width: 350px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.film-card img{
    width: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.film-card h2{
    margin-top: 10px;
    text-align: center;
}