section {
    text-align: center;
}

.butt {
    display: block;
    margin: auto;
    width: 200px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: rgb(193, 193, 193);
    border-radius: 20px;
}

button {
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid transparent;
}

button:focus {
    border-color: aliceblue;
}

button:nth-child(1) {
    background-color: black;
}

button:nth-child(2) {
    background-color: rgb(187, 220, 255);
}

button:nth-child(3) {
    background-color: rgb(192, 255, 192);
}

button:nth-child(4) {
    background-color: rgb(255, 210, 218);
}

button:nth-child(5) {
    background-color: rgb(255, 255, 205);
}