<div class="container">
    <div class="row">
        <h2>Lorem, ipsum.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus libero nihil fugit sed aliquam quidem dolore expedita voluptas dicta corrupti.</p>
    </div>
    <div class="row">
        <h2>Ipsam, numquam.</h2>
        <p>Porro impedit expedita velit dolores, culpa corrupti numquam aut! Eos mollitia commodi nesciunt quo quaerat ea explicabo ipsa doloremque exercitationem!</p>
    </div>
    <div class="row">
        <h2>Ad, accusantium!</h2>
        <p>Voluptatibus quae consectetur animi voluptate porro sunt molestias sequi nemo similique unde? Nemo cum dolores incidunt iusto blanditiis sequi culpa?</p>
    </div>
    <div class="row">
        <h2>Voluptates, maiores.</h2>
        <p>Quidem doloremque, asperiores esse ipsam, quia alias, natus laborum earum rem dicta culpa fugiat doloribus praesentium sit possimus facere aliquam.</p>
    </div>
    <div class="row">
        <h2>Dolore, deleniti.</h2>
        <p>Quam velit ad ratione hic adipisci nihil modi, fugit explicabo, veniam at consequuntur animi eos asperiores atque exercitationem est. Enim.</p>
    </div>
</div>
