<div class="container">
    <form (ngSubmit)="submitForm(form)" #form="ngForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" 
                   id="email"
                   class="form-control"
                   ngModel
                   name="email"
                   required
                   email>
        </div>

        <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" 
                   id="pass"
                   class="form-control"
                   ngModel
                   name="pass"
                   required>
        </div>

        <div class="form-group">
            <label for="">Language</label>
            <select class="form-control"
                    ngModel
                    name="lang"
                    required>
                <option value="en">En</option>
                <option value="ua">UA</option>
                <option value="fr">Fr</option>
            </select>
        </div>

        <div class="radio" *ngFor="let ans of answers">
            <label for="">
                <input type="radio"
                       [value]="ans.type"
                       ngModel
                       name="answ"
                       required>{{ans.text}}
            </label>
        </div>

        <button class="btn btn-success" type="submit"
                [disabled]="form.invalid">Save</button>
    </form>
</div>